body {
    margin: 0;
}

header {
    background-color: #03a9f4;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    background-size: 20%;
}

#img-logo {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 5px;
    width: 200px;
}

.writtenBy {
    font-weight: 800;
    font-size: 20px;
    color: grey;
    margin-bottom: 20px;
}

.profile-Booleaner {
    text-decoration: none;
    color: #03A9F4
}

main,
footer {
    margin-left: 10px;
}

section {
    margin-bottom: 20px;
}

.bg-yellow {
    background-color: yellow;
}

section {
    margin-bottom: 20px;
}

.width-25-cell {
    width: 25%;
}

.th-left {
    text-align: left;
}

.color-head-table {
    color: white;
    background-color: #03a9f4;
}

.color-body-table {
    background-color: #77d4ff;
}


h3 {
    color: grey;
}

.img-footer1,
.img-footer2 {
    margin-top: 10px;
    color: white;
    width: 200px;
    height: 150px;
    background-image: url("../img/monitor.jpg");
    background-size: contain;
    background-position: center;
}

.img-footer2 {
    background-image: url("../img/graph.jpg");
}

.textFooter {
    padding-left: 20px;
    padding-top: 10px;
}